:root {
    --primary-color: #292929;
    --secondary-color: #B4B8AB;
    --light-color: #ffffff;
    --dark-color: #1b3242;
    --text-color: #f4f9e9;
    --text-color-2: #3f3f3f;
    --text-color-3: #B4b8ab;
    --text-color-4: #ff6600;
    --background-color: #2e2e2e;
    --background-color-2: #B4B8AB;
    --line-height-1: 1.6;
    --line-height-2: 1.8;
    --line-height-3: 2.0;
    --padding-1: .5rem;
    --padding-2: 1rem;
    --padding-3: 2rem;
    --padding-4: 3rem;
    --padding-5: 4rem;
    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;
    --gap-1: 1rem;
    --gap-2: 2rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--light-color);
    min-height: 100vh;
    font-size: 1em; /* 16px */
    display: grid;
    grid-template-rows: auto 3fr;
    grid-template-columns: 1fr;
    line-height: var(--line-height-1);
}

.navbar {
    background-color: var(--primary-color);
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    padding: var(--padding-1) var(--padding-2);
}

.logo h1 {
    font-size: 2.2em;
    color: var(--text-color-4);
    margin-left: var(--margin-3);
    font-weight: 900;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    list-style: none;
    gap: var(--gap-2);
    padding:  0 var(--padding-1);
    width: 450px;
}

.nav-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1em;
    width: auto;
}

.nav-links ul li a:hover {
    color: var(--text-color-4);
}

main {
    padding: var(--padding-4) var(--padding-5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--gap-3);
    background-image: url(../img/acentos-metalicos-varios-tonos-oro-adornan-zona-recepcion-que-exuda-lujo-prestigio_216520-101573.jpg);
    background-size: cover;
    background-position: center;
}

.hero {
    text-align: center;
    padding: var(--padding-3);
    color: var(--dark-color);
}

.hero h1,
.hero h2 {
    margin-bottom: var(--margin-2);
    color: var(--text-color-3);
}

.hero p {
    margin-bottom: var(--margin-1);
    font-size: 1.25em;
    color: var(--text-color-2);
}

footer {
    background-color: var(--background-color);
    color: var(--light-color);
    padding: var(--padding-1) var(--padding-5);
    display: grid;
    grid-template-columns: repeat(auto, minmax(200px, 1fr));
    gap: var(--gap-1);
    text-align: center;
}

.info-footer {
    margin: var(--margin-1);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--gap-2);
    text-align: left;
    justify-content: space-evenly;
}

.info-footer section {
    margin: var(--margin-2); 
    max-width: 400px;
}

.info-footer h3 {
    margin-bottom: var(--margin-1);
    font-size: 1.5em;
    color: var(--text-color-4);
}

.info-footer span {
    font-size: 1.2em;
    font-weight: 600;
    font-style: normal;
    color: var(--text-color);
}

.info-footer p {
    margin-bottom: var(--margin-1);
    font-size: 1.1em;
    font-weight: normal;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.footer-links ul li a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 1.1em;
}

.footer-links ul li a:hover {
    color: var(--text-color-4);
}

footer span {
    text-align: center;
    /* margin-top: var(--margin-1); */
    font-size: 0.9em;
    color: var(--text-color-4);
}