<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/styles-2.css">
    <title>TP2 - POO - Grupo 2</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div>
                <h1>TP2 - POO - Grupo 2</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="./index-grid-template.html">Inicio</a></li>
                    <li><a href="./reservas.html">Reservas</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Contenido de la página</h1>
            <p>Bienvenidos al trabajo práctico Nro. 2 de POO.</p>
            <p>En este sitio web, podrás gestionar clientes y reservas de manera eficiente.</p>
            <p>Utiliza la barra de navegación para explorar las diferentes secciones del sitio.</p>
        </section>
    </main>
    <footer>
        <div class="info-footer">
            <section>
                <h3>Centro de estudio: IFTS - 16</h3>
                <p>Grupo 2</p>
                <p>Trabajo Práctico Nro.: 2</p>
            </section>
            <section>
                <h3>Integrantes:</h3>
                <p>Lucia Corral</p>
                <p>Carla Guisande</p>
                <p>Ignacio Hernandez</p>
                <p>Ignacio Vidal</p>
                <p>Pablo Demartini</p>
            </section>
        </div>
        <p>&copy; 2025 TP2 - POO - Grupo 2. Todos los derechos reservados.</p>
    </footer>
</body>

</html>